
listening-ip={{ public_ip }}
relay-ip={{ public_ip }}

min-port=60535
max-port=62535

use-auth-secret
static-auth-secret= {{coturn_secret}}
realm=matrix.local

cert={{ nginx_tls_cert_path }}
pkey={{ nginx_tls_key_path }}
dh2066

denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=192.168.0.0-192.168.255.255
denied-peer-ip=172.16.0.0-172.31.255.255

syslog
simple-log
log-file=/var/log/coturn/turnserver.log
