{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://{{ element_default_hs }}",
            "server_name": "{{ element_default_hs }}"
        },
        "m.identity_server": {
            "base_url": "https://{{ element_default_hs }}"
        }
    },
    "disable_custom_urls": true,
    "disable_guests": false,
    "disable_login_language_selector": true,
    "disable_3pid_login": false,
    "brand": "Element",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "integrations_widgets_urls": [
        "https://scalar.vector.im/_matrix/integrations/v1",
        "https://scalar.vector.im/api",
        "https://scalar-staging.vector.im/_matrix/integrations/v1",
        "https://scalar-staging.vector.im/api",
        "https://scalar-staging.riot.im/scalar/api"
    ],
    "bug_report_endpoint_url": "https://riot.im/bugreports/submit",
    "defaultCountryCode": "RU",
    "showLabsSettings": true,
    "features": {
        "feature_new_spinner": "labs",
        "feature_pinning": "labs",
        "feature_custom_status": "labs",
        "feature_custom_tags": "labs",
        "feature_state_counters": "labs"
    },
    "default_federate": false,
    "default_theme": "dark",
    "roomDirectory": {
        "servers": [
            "{{ element_default_hs }}"
        ]
    },
    "settingDefaults": {
        "breadcrumbs": true
    }
}
