server {
    listen       80 default_server;
    server_name  _;
    access_log  /var/log/nginx/invalid_host.log;
    return 500;
}
server {
    listen 443 ssl http2 default_server;
    ssl_certificate         {{ nginx_tls_cert_path }};
    ssl_certificate_key     {{ nginx_tls_key_path }};
    server_name  _;
    access_log  /var/log/nginx/invalid_host.log;
    return 500;
}
